 <html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" http-equiv="Content-Security-Policy" content="script-src 'self' 'sha256-In6B8teKZQll5heMl9bS7CESTbGvuAt3VVV86BUQBDk='"/>
    <title><%= lang('app.title') %></title>
    <script src="./assets/js/scripts/uicore.js"></script>
    <script src="./assets/js/scripts/uibinder.js"></script>
    <link type="text/css" rel="stylesheet" href="./assets/css/launcher.css">
    <style>
        body {
            transition: background-image 1s ease;
            background-image: url('assets/images/backgrounds/<%=bkid%>.jpg');
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
            -webkit-user-select: none;
        }
        #main {
            display: none;
            height: calc(100% - 22px);
            background: linear-gradient(
                135deg,
                rgba(5, 5, 18, 0.85) 0%,
                rgba(10, 5, 30, 0.65) 50%,
                rgba(0, 0, 0, 0.80) 100%
            );
            width: 100%;
            position: absolute;
            z-index: 10;
        }
        #main[overlay] {
            filter: blur(3px) contrast(0.9) brightness(0.9);
        }
    </style>
</head>
<body bkid="<%=bkid%>">
    <%- include('frame') %>
    <div id="main">
        <%- include('welcome') %>
        <%- include('login') %>
        <%- include('waiting') %>
        <%- include('loginOptions') %>
        <%- include('settings') %>
        <%- include('landing') %>
    </div>
    <%- include('overlay') %>
    <div id="loadingContainer">
        <div id="loadingContent">
            <div id="loadSpinnerContainer">
                <img id="loadCenterImage" src="assets/images/VitarisLogo.png">
            </div>
        </div>
    </div>
</body>
</html>
